<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ActiveDirectoryVerify.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ActiveDirectoryVerify.Settings1>
            <setting name="LadapHost" serializeAs="String">
                <value />
            </setting>
            <setting name="LadapPort" serializeAs="String">
                <value>389</value>
            </setting>
            <setting name="AdminAccount" serializeAs="String">
                <value />
            </setting>
            <setting name="AdminPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="PropertyName" serializeAs="String">
                <value>mail</value>
            </setting>
            <setting name="PropertyValue" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchBaseDn" serializeAs="String">
                <value />
            </setting>
        </ActiveDirectoryVerify.Settings1>
    </userSettings>
</configuration>